body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.board {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  background-color: #ccc;
}

.boardRow {
  display: flex;
}

.boardCell {
  display: flex;
  min-width: 48px;
  min-height: 48px;
  margin: 0;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: white;
  border-radius: 5px;
}

.boardCell--empty {
  background-color: #fff;
}

.boardCell--value {
  background-color: #ddd;
}

.color2 { background-color: #689f38 }
.color4 { background-color: #388e3c }
.color8 { background-color: #00796b }
.color16 { background-color: #0097a7 }
.color32 { background-color: #0288d1 }
.color64 { background-color: #1976d2 }
.color128 { background-color: #303f9f }
.color256 { background-color: #512da8 }
.color512 { background-color: #7b1fa2 }
.color1024 { background-color: #c2185b }
.color2048 { background-color: #d32f2f }

.boardCell span {
  font-weight: bold;
  font-size: 14px;
}

.controls button {
  width: 30px;
  height: 30px;
  margin: 5px;
}